@import "../src/styles/reset";
@import "../src/styles/mixins";
@import "../src/styles/variables";

body {
  background: #effdff;
  $font-family: "Sedgwick Ave Display", cursive;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;

  @include onDesktop {
    justify-content: space-between;
  }
  @include onTablet {
    justify-content: center;
  }
}

.pokemon__wrapper {
  margin-top: 80px;

  &--open {
    @include onTablet {
      opacity: 0.2;
    }
  }
  @include onPhone {
    width: 100%;
  }
}

.load {
  width: 100%;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
