@import "../src/styles/reset";
@import "../src/styles/mixins";

body {
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  @include onDesktop {
    justify-content: space-between;
  }
}

.pokemon__wrapper {
  @include onPhone {
    width: 100%;
  }
}
